@using Heima8.OA.BLL
@using Heima8.OA.Model
@using Spring.Context
@using Spring.Context.Support
@model Heima8.OA.Model.WF_Instance

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ShowInstance</title>
    <link href="../../Content/tableStyle.css" rel="stylesheet" />
    @{
        var stempStatus = (short)Heima8.OA.Model.Enum.WFStepEnum.UnProecess;
        IApplicationContext ctx = ContextRegistry.GetContext();
        var userInfoService = ctx.GetObject("UserInfoService") as UserInfoService;
        }
</head>
<body>
    <div>
        <table>
            <tr>
                <td>流程名：</td><td>@Model.InstanceName</td>
            </tr>
            <tr>
                <td>模板类型：</td><td>@Model.WF_Temp.TepName</td>
            </tr>
            <tr>
                <td>申请人：</td><td>
                                 @userInfoService.GetEntities(u => u.DelFlag == DeleteFlag.DelflagNormal && u.ID == Model.StartBy).FirstOrDefault().ShowName
                                 @*                                 @Model.StartBy*@
                             </td>
            </tr>
            <tr>
                <td>申请时间：</td><td>@Model.StartTime</td>
            </tr>
            <tr>
                <td>申请内容：</td><td>@Html.Raw(Model.Content)</td>
            </tr>
            <tr>
                <td>审批步骤：</td><td>
                                  @foreach (var item in Model.WF_Step)
                                  {
                                      <p>
                                          审批节点：@item.StepName<br />
                                          审批人：@userInfoService.GetEntities(u => u.DelFlag == DeleteFlag.DelflagNormal && u.ID == item.ProcessBy).FirstOrDefault().ShowName<br/>
                                          审批时间：@item.SubTime<br/>
                                          审批结果：@Html.Raw(string.IsNullOrEmpty(item.ProcessResult)?"正在审批中...":item.ProcessResult)<br />
                                          审批意见：@item.PorcessComment
                                      </p>
                                  }
                              </td>
            </tr>
             
        </table>
@*        @{var link = "/WFInstance/ShowMyChecked/" + Model.StartBy.ToString();}*@
@*        <a href=@link >返回我已审批的流程</a>*@
    </div>
</body>
</html>
